<div class="navtabs-container">

<nav mat-tab-nav-bar  mat-align-tabs="center" fxFlex fxLayout fxlayoutAlign="center center">

<a mat-tab-link routerLink ="/" 
    routerLinkActive #home="routerLinkActive"
    [active] = "home.isActive"> Home 
</a>

<a mat-tab-link routerLink ="/hotel" 
    routerLinkActive #hotel="routerLinkActive"
    [active] = "hotel.isActive"> Hotels 
</a>

<a mat-tab-link routerLink ="/food" 
    routerLinkActive #food="routerLinkActive"
    [active] = "food.isActive"> Food 
</a>

<a mat-tab-link routerLink ="/offers" 
    routerLinkActive #offers="routerLinkActive"
    [active] = "offers.isActive"> Offers 
</a>

<a mat-tab-link routerLink ="/contact" 
    routerLinkActive #contact="routerLinkActive"
    [active] = "contact.isActive"> Contact 
</a>

</nav>
</div>