<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let room of rooms">
        <mat-card class="mat-elevation-z4" >
            <mat-card-title>{{ room.roomType }}</mat-card-title>
            <mat-card-subtitle>{{ room.roomName }}</mat-card-subtitle>
          <img mat-card-image [src]='"/assets/Images/"+room.imageName+".JPG"'>
          <mat-card-content>
            <p>
              There are only {{room.availabileRooms}} available with an average price Rs. {{room.rate}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button class="offer-button" mat-button>View Offer</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    </div>