@use '@angular/material' as mat;

@include mat.core();

$angular-primary: mat.define-palette(mat.$teal-palette, 200);
$angular-accent: mat.define-palette(mat.$teal-palette, 50);

$angular-warn: mat.define-palette(mat.$red-palette);


$myhoteltheme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

@import './app/navigation/navtabs/navtabs.component.theme.scss';

@include mat.all-component-themes($myhoteltheme);
@include navtabs-component-theme($myhoteltheme);

// .navtabs-container{
// background-color: mat.get-color-from-palette($angular-accent, 100);
// }

.mat-list-option:hover,
.mat-list-option.mat-list-item-focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-item .mat-list-item.mat-list-item-focus{
  background-color: mat.get-color-from-palette($angular-accent, 100);
  color: mat.get-color-from-palette($angular-primary, 200);
}