<div class="container">
    <div class="book-now-container">
        <div fxFlex fxLayoutAlign="flex-end" >
            <button class="book-now-button" mat-stroked-buton color="primary">
                Book Now
            </button>
        </div>
    </div>

    <div class="header-container" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
        <div class="header-proptype">
            <h2>Luxury Beach Front Resort</h2>
        </div>
        <div class="header-propname">
            <h1>Leela Group Hotels</h1>
        </div>
    </div>

</div>